@page "/MyRectagle"
@using MyRectagle1.Shared.Models.OOP
<h2>Rectangles</h2>

<h3>First Rectangle:</h3>
<span>Height: </span>
<input type="number" @bind="FirstRect.RectHeight" />
<br />
<span>Width: </span>
<input type="number" @bind="FirstRect.RectWidth" />
<br />
<span>Color: </span>
<input type="text" @bind="FirstRect.RectColor" />
<br />
<hr />
<h3>Second Rectangle:</h3>
<span>Height: </span>
<input type="number" @bind="SecondRect.RectHeight" />
<br />
<span>Width: </span>
<input type="number" @bind="SecondRect.RectWidth" />
<br />
<span>Color: </span>
<input type="text" @bind="SecondRect.RectColor" />
<br />
<br />

<input type="button" value="Calc" @onclick="CalcRect" />
<br />

@if (showText == true)
    <p style="color:@bigRectArea">
        the @bigRectArea rectangle area is bigger than the @smallRectArea rectangle
    </p>
    <p style="color:@bigRectPerimeter">
        the @bigRectPerimeter rectangle perimeter is bigger than the @smallRectPerimeter rectangle
    </p>

}

@code {
    MyRectangle FirstRect = new MyRectangle();
    MyRectangle SecondRect = new MyRectangle();

    string bigRectArea = "";
    string smallRectArea = "";
    string bigRectPerimeter = "";
    string smallRectPerimeter = "";

    bool showText = false;

    void CalcRect()
    {
        double firstRectArea = FirstRect.CalcArea();
        double secondRectArea = SecondRect.CalcArea();

        double firstRectPerimeter = FirstRect.CalcPerimeter();
        double secondRectPerimeter = SecondRect.CalcPerimeter();

        if (firstRectArea > secondRectArea)
        {
            bigRectArea = FirstRect.RectColor.ToString();
            smallRectArea = SecondRect.RectColor.ToString();
        }
        else
        {
            smallRectArea = FirstRect.RectColor.ToString();
            bigRectArea = SecondRect.RectColor.ToString();
        }

        if (firstRectPerimeter > secondRectPerimeter)
        {
            bigRectPerimeter = FirstRect.RectColor.ToString();
            smallRectPerimeter = SecondRect.RectColor.ToString();
        }
        else
        {
            smallRectPerimeter = FirstRect.RectColor.ToString();
            bigRectPerimeter = SecondRect.RectColor.ToString();
        }

        showText = true;
    }

}

